@import "../../../helpers/variables.scss";

.historyLogic {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  border-left: 1px solid #AEAEB4;
  padding-left: 70px;
  gap: 32px;
  
  @include onPhone {
    border-left: none;
    padding-left: 0;
    gap: 20px
  }

  &__name {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: $text2Color;
    margin: 0;
    margin-top: 32px;
 
    @include onPhone {
      font-family: Ahellya;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
      margin-top: 24px;
    }
  }

  &__minicontainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 32px;

    @include onPhone {
      margin-bottom: 22px;
    }
  }

  &__count {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    margin: 32px 12px 0 0;
    
    @include onPhone {
      font-family: Ahellya;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        margin: 24px 12px 0 0;
    }
  }

  &__header {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: $blackColor;
    text-align: center;

    @include onPhone {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      margin-top: 20px;
    }
  }

  &__chard {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    align-items: center;
    padding: 24px;

    
    @include onPhone {
      padding: 12px;
      margin: 0 16px;
    }
  }

  &__img {
    width: 300px;
    height: 280px;
    border-radius: 16px;
    object-fit: cover;
    cursor: pointer;

    @include onPhone {
      width: 140px;
      height: 140px;
    }
  }

  &__container {
    width: 100%;
    box-sizing: border-box;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__search {
    background-image: url("../../../img/Search.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    margin: 0;
    margin-top: 64px;

    @include onPhone {
      width: 56px;
      height: 56px;
    }
  }

  &__no {
    color: $blackColor;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; 
    margin: 12px 0px 40px 0;
    
    @include onPhone {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
  }

  &__top2 {
    display: flex;
    justify-content: space-between;
  }

  &__name2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01em;
  }
}